/*Variables*/
$light-blue: #a3afc8;
$success-color: #d4025e;

.crt2018 {
	color: $success-color;
}

p {
	color: #969696;
}

table.callout {
	margin-right: 16px;
	margin-left: 16px;
}

.crtFooter {
	font-size: 8px;
}